.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  overflow: auto;
  background-color: var(--bg-primary);
}
